<h2>Editing customer</h2>

<%= render "form", customer: @customer %>

<div class="d-flex gap-3 justify-content-end">
  <%= button_to "View", customer_path(@customer), method: :get, class: "btn btn-secondary" %>
  <%= button_to "All Customers", customers_path, method: :get, class: "btn btn-primary" %>
  <%= button_to "Delete", customer_path(@customer), method: :delete, data: { confirm: "Are you sure you want to delete this customer?" }, class: "btn btn-danger" %>
</div>
