<h2>Create Customer</h2>

<%= render "form", customer: @customer %>

<div class="d-flex gap-3 justify-content-end">
  <%= button_to "All Customers", customers_path, method: :get, class: "btn btn-primary" %>
</div>
