<%= render @order %>

<div class="d-flex gap-3">
  <%= button_to "Edit", edit_order_path(@order), method: :get, class: "btn btn-warning" %>
  <%= button_to "All Orders", orders_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Delete", @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
