// variables

$primary: #C0DEE7;
$secondary: #F2F2F2;
$success: #C7E7C0;
$danger: #FFB5B5;
$warning: #FBE89F; 
$info: #B5E5E9;
$light: #E8F8F5;
$dark: #34495E;
$white: #FFFFFF;
$body-bg: #FDFCF3;
$table-bg: $light;

// imports

@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Canterbury';
  src: font-url('Canterbury.ttf');
}

// bs color overrides

.btn-primary,
.alert-primary {
  background-color: $primary !important;
  border: none;
  color: $dark;
}

.btn-warning,
.alert-warning {
  background-color: $warning !important;
  border: none;
  color: $dark;
}

.btn-danger,
.alert-danger {
  background-color: $danger !important;
  border: none;
  color: $dark;
}

.btn-success,
.alert-success {
  background-color: $success !important;
  border: none;
  color: $dark;
}

// custom

a {
  color: lighten($dark, 10%) !important;
  text-decoration: none;

  &:hover {
    color: lighten($dark, 30%) !important;
  }
}

.dropdown-item:hover {
  background-color: white;
}

body {
  background-color: $body-bg;
  color: $dark;
}

h2 {
  margin-bottom: 20px;
}

.banner-background {
  background-image: image-url('banner.png');
  background-size: cover;
  background-position: bottom;

  h1 {
    font-family: 'Canterbury';
    font-size: 300%;
    font-weight: bold;
  }
}

.form-control {
  background-color: $white;
}

tr,
th {
  background-color: $info !important;
}

// mobile

@media (max-width: 560px) {
  th {
    font-size: 16px;
  }
}
